body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.box-header {
  display: flex;
  align-items: center;
  padding: 10px;
  /* border-bottom: 1px solid #4d4d4d; */
}
.box-header img {
  margin: auto 8px;
}
.App h1{
  text-align: center;
}

.box {
  width: 500px;
  /* border: 1px solid #4d4d4d; */
  box-shadow: 3px 4px 10px 5px rgba(151, 151, 151, 0.3);
}

.box-footer {
  padding: 10px;
  border-top: 1px solid rgba(151, 151, 151, 0.3);
  display: flex;
  justify-content: space-around;
  position: relative;
}

.box-footer span {
  border: 1px solid rgba(218, 158, 109, 0.452);
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  color: #4d4d4d;
  z-index: 1;
}

.box-footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
              0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.input {
  font-size: 24px;
  border: none;
  outline: none;
  width: 100%;
  height: 32px;   
  margin: 0 0 0 10px;
}
